.teste{
    text-align: center;
    display: flex;
}
.teste2{
    text-align: center;
    display: flex;
}
.nome{
    height:100px;
    width:100px;
}

.tam:hover{
    height: 100px;
    width: 100px;
    border: 5px solid rgb(255, 255, 255);
    border: 5px solid rgb(0, 0, 0);
}

.img-todos:hover{
    text-align: center;

}
.img-todos{
    text-align: center;
    background-image: url("todos.jfif");

}
.height{
    height: 80px;
}

h1{
    text-align: center;
}
p1{
    text-align: center;
}
.adi{
    background-image: url("adner.jpeg");
    text-align: center;
}
.lidi{
    background-image: url("lidiane.jpeg");
    text-align: center;
}
.lucas{
    background-image: url("lucas.jpeg");
    text-align: center;
}
.leo{
    background-image: url("leo.jpeg");
    text-align: center;
}
.lincon{
    background-image: url("lincon.jpeg");
    text-align: center;
}
.leticia{
    background-image: url("lele.jpeg");
    text-align: center;
}
.vovô{
    background-image: url("vovô.jpeg");
    text-align: center;
}
.vovó{
    background-image: url("vovó.jfif");
    text-align: center;
}
.max{
    background-image: url("max.jpeg");
    text-align: center;
}